<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>{{authService.userValue.surname}} {{authService.userValue.firstname}} {{authService.userValue.patronymic}}</h3>
            <h5>{{authService.userValue.login}}</h5>
        </div>

    </div>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owners">Owners</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pets">Pets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/veterinarians">Veterinarians</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/specialties">Specialties</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/visits">Visits</a>
    

</mat-nav-list>

