<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>{{authService.userValue.surname}} {{authService.userValue.firstname}} {{authService.userValue.patronymic}}</h3>
            <h5>{{authService.userValue.login}}</h5>
        </div>

    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Сторінки</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Дашборд</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owners">Власники</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pets">Тварини</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/veterinarians">Ветеринари</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/specialties">Спеціальності</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/visits">Візити</a>



</mat-nav-list>
