<h1 mat-dialog-title>Додавання візиту</h1>
<form [formGroup]="visitForm" class="example-form" (ngSubmit)="create()">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Мета візиту</mat-label>
                    <input matInput formControlName="goalOfVisit" type="text" name="goalOfVisit" required/>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Ціна</mat-label>
                    <input matInput formControlName="price" type="number" name="price" required/>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Тварина</mat-label>
                    <mat-select formControlName="pet" name="pet">
                        <mat-option *ngFor="let pet of pets" [value]="pet.id">
                            {{pet.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Час і дата візиту</mat-label>
                    <input matInput type="datetime-local" formControlName="visitDate" name="visitDate" min="2017-01-01T09:30" max="2022-12-31T17:30"required/>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button  mat-button (click)="onNoClick()">Додати</button>
</form>
