

<h2>Owners</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let owner">{{owner.id}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Surname</mat-header-cell>
      <mat-cell  *matCellDef="let owner">{{owner.surname}}
        <span *ngIf="ownerToUpdate != null && ownerToUpdate.id == owner.id">
          <input  type="text"  [(ngModel)]="ownerToUpdate.surname" name="surnameUpd">
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </mat-header-cell>
      <mat-cell *matCellDef="let owner">{{owner.firstname}}
        <span *ngIf="ownerToUpdate != null && ownerToUpdate.id == owner.id">
          <input type="text"  [(ngModel)]="ownerToUpdate.firstname" name="firstnameUpd">
        </span>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="patronymic">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Patronymic </mat-header-cell>
      <mat-cell *matCellDef="let owner">{{owner.patronymic}}
        <span *ngIf="ownerToUpdate != null && ownerToUpdate.id == owner.id">
          <input type="text"  [(ngModel)]="ownerToUpdate.patronymic" name="patronymicUpd">
        </span>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let owner">{{owner.homeAddress}}
        <span *ngIf="ownerToUpdate != null && ownerToUpdate.id == owner.id">
          <input type="text"  [(ngModel)]="owner.homeAddress" name="homeAddressUpd">
        </span>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="phone_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
      <mat-cell *matCellDef="let owner">{{owner.phoneNumber}}
        <span *ngIf="ownerToUpdate != null && ownerToUpdate.id == owner.id">
          <input type="text"  [(ngModel)]="ownerToUpdate.phoneNumber" name="phoneNumberUpd">
        </span>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let owner">
        <button mat-icon-button matTooltip="Click to Edit"  color="primary" >
          <mat-icon aria-label="Edit" (click)="openDialogUpdate(owner)">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete"  color="warn" #action>
          <mat-icon aria-label="Delete" (click)="openDialogDelete(owner)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let owner; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <button mat-raised-button color="primary" *ngIf="ownerToUpdate != null"(click)="save()">Save</button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon (click)="openDialog()">add</mat-icon>
  </button>

  <br>
