.mat-card {
  padding: 30px;
  width: 700px;
  margin-top: 50px;
  left: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  padding: 20px;
}
