<h1 mat-dialog-title>Оновлення спеціальності</h1>
<form class="example-form" (ngSubmit)="update()">
    <table class="example-full-width">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Назва</mat-label>
                    <input matInput [(ngModel)]="specialty.name" type="text" name="name" required/>
                  </mat-form-field>
            </td>
        </tr>
    </table>
    <button  mat-button (click)="onNoClick()">Оновити</button>
</form>
