<h1 mat-dialog-title>Оновлення ветеринара</h1>
<form  class="example-form" (ngSubmit)="update()">
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Прізвище</mat-label>
          <input matInput [(ngModel)]="vet.surname"   type="text"  name="surname" required/>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Ім'я </mat-label>
          <input matInput [(ngModel)]="vet.firstname" type="text"  name="firstname" required/>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>По-батькові</mat-label>
          <input matInput [(ngModel)]="vet.patronymic" type="text"  name="patronymic" required/>
        </mat-form-field></td>
      </tr>
      </table>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Спеціальність</mat-label>
            <mat-select [(ngModel)]="vet.specialty" name="specialty">
              <mat-option *ngFor="let specialty of specialties" [value]="specialty.id" >
                {{specialty.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </td>
      <button  mat-button (click)="onNoClick()">Оновити</button>
</form>
